<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

	{include file="struct/sys/metas-styles-scripts-tracking.html"}

	<link rel="stylesheet" type="text/css" media="screen" href="{$smarty.const.TEMPLATE}css/webfonts/fonts.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{$smarty.const.TEMPLATE}css/vars.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{$smarty.const.TEMPLATE}css/hotspot.css" />
	
<style>
{literal}

body {
background: url({/literal}{$objData->bgd_upload->uri}{literal}) 0 0 no-repeat fixed !important;
-webkit-background-size: cover !important;
-moz-background-size: cover !important;
-o-background-size: cover !important;
background-size: cover !important;
}

{/literal}
</style>
</head>
<body>
<div id="fb-root"></div>