AddType text/x-component .htc

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^cms/*  	cms/index.php?APPLR_friendlyURL=1  [QSA,L]
RewriteRule ^site/*  	site/index.php?APPLR_friendlyURL=1  [QSA,L]
#RewriteRule ^.* 		index.php?APPLR_friendlyURL=1 [QSA,L]