{include file="struct/header.html"}

<form name="formConfig" id="formConfig" method="post" action="{$smarty.const.HTTP_CMS}{$smarty.session.APPLR.URI_SEGMENT.2}/add">
<input type="hidden" name="id" id="id" value="{$objData->id}" />
<table border=1 width=650>
	<caption>APPLR FOLDER</caption>
	{include file="struct/menu-top.html"}
	<tr>
		<th colspan=2>FIELD INFO</th>
	</tr>
	<tr>
		<td>Name</td>
		<td>
			<input type="text" maxlength="80" value="{$objData->name}" size="40" name="name" id="name" />
		</td>
	</tr>
	<tr>
		<td>Icon File Path</td>
		<td>
			<input type="text" maxlength="80" value="{$objData->icon_filepath}" size="40" name="icon_filepath" id="icon_filepath" />
		</td>
	</tr>
	<tr>
		<td>System File Path</td>
		<td>
			<input type="text" maxlength="80" value="{$objData->sys_filepath}" size="40" name="sys_filepath" id="sys_filepath" />
		</td>
	</tr>
	<tr>
		<td>Status</td>
		<td>
			<input type="radio" name="status" value=1 {if $objData->status == 1 || !isset($objData->status)}checked{/if} /> Active<br />
			<input type="radio" name="status" value=0 {if $objData->status === 0}checked{/if} /> Inactive
		</td>
	</tr>
	<tr>
		<td colspan=2 align=right>
			<input type="submit" value="Send" />
		</td>
	</tr>
</table>
</form>

{include file="struct/footer.html"}