<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>APPLR</title>
</head>
<body>

<h1>Choose your destiny:</h1>

<ul>
	<li><a href="{$smarty.const.HTTP_CMS}config">Config</a></li>
	<li><a href="{$smarty.const.HTTP_CMS}struct">Struct</a></li>
	<li><a href="{$smarty.const.HTTP_CMS}language">Language</a></li>
	<li><a href="{$smarty.const.HTTP_CMS}folder">Folder</a></li>
	<li><a href="{$smarty.const.HTTP_CMS}login/out">Logout</a></li>
</ul>

</body>
</html>