{include file="struct/header.html"}

<h1>Choose your destiny:</h1>

<ul>
	<li><a href="{$smarty.const.HTTP_CMS}config">Config</a></li>
	<li><a href="{$smarty.const.HTTP_CMS}language">Language</a></li>
	<li><a href="{$smarty.const.HTTP_CMS}template-type">Template Types</a></li>
	<li><a href="{$smarty.const.HTTP_CMS}template">Template</a></li>
	<li><a href="{$smarty.const.HTTP_CMS}media-gallery">Media Gallery</a></li>
	<li><a href="{$smarty.const.HTTP_CMS}media">Media</a></li>
	<li><a href="{$smarty.const.HTTP_CMS}struct">Struct</a></li>
	<li><a href="{$smarty.const.HTTP_CMS}folder">Folder</a></li>
	<li><a href="{$smarty.const.HTTP_CMS}section">Section</a></li>
	<li><a href="{$smarty.const.HTTP_CMS}section-struct">Section Struct</a></li>
	<li><a href="{$smarty.const.HTTP_CMS}section-content/teste-de-secao">Section Content</a></li>
	<li><a href="{$smarty.const.HTTP_CMS}login/out">Logout</a></li>
</ul>

{include file="struct/footer.html"}