{include file="struct/header.html"}

<form name="formConfig" id="formConfig" method="post" action="{$smarty.const.HTTP_CMS}{$smarty.session.APPLR.URI_SEGMENT.2}/add">
<input type="hidden" name="id" id="id" value="{$objData->id}" />
<input type="hidden" name="is_default" id="is_default" value="0" />
<table border=1 width=650>
	<caption>APPLR MEDIA GALLERY</caption>
	{include file="struct/menu-top.html"}
	<tr>
		<th colspan=2>FIELD INFO</th>
	</tr>
	<tr>
		<td>Name</td>
		<td>
			<input type="text" maxlength="80" value="{$objData->name}" size="40" name="name" id="name" />
		</td>
	</tr>
	<tr>
		<td>Media Type</td>
		<td>
			<input type="radio" name="mediatype" id="mediatype_2" value=2 {if $objData->mediatype == 2 || !isset($objData->mediatype)}checked{/if} /> Image<br />
			<input type="radio" name="mediatype" id="mediatype_1" value=1 {if $objData->mediatype == 1}checked{/if} /> Video<br />
			<input type="radio" name="mediatype" id="mediatype_0" value=0 {if isset($objData->mediatype) && $objData->mediatype == 0}checked{/if} /> Upload
		</td>
	</tr>
	<tr>
		<td>Public</td>
		<td>
			<input type="radio" name="public" id="public_1" value=1 {if $objData->public == 1}checked{/if} /> Yes<br />
			<input type="radio" name="public" id="public_0" value=0 {if empty($objData->public)}checked{/if} /> No
		</td>
	</tr>
	<tr>
		<td>Description</td>
		<td>
			<textarea cols="45" rows="7" name="description" id="description">{$objData->description}</textarea>
		</td>
	</tr>
	<tr>
		<td>Associate Directory</td>
		<td>
			<select name="dirpath" id="dirpath" size="{if count($arrDir) < 5}1{else}5{/if}">
				<option value="">N/R</option>
				{if !in_array($arrDir.dirpath,$objData->dirpath) && !empty($objData->dirpath)}<option value="{$objData->dirpath}" selected>{$objData->dirpath}</option>{/if}
				{foreach from=$arrDir name="listDir" item="strDirName"}
				<option value="{$strDirName}" {if $objData->dirpath == $strDirName}selected{/if}>{$strDirName}</option>
				{/foreach}
			</select>
		</td>
	</tr>
	<tr>
		<td>Associate Section</td>
		<td>
			<select name="sec_config_id" id="sec_config_id" size="{if count($arrSec) < 5}1{else}5{/if}">
				<option value="">N/R</option>
				{foreach from=$arrSec name="listSec" item="objSec"}
				<option value="{$objSec->id}" {if $objData->sec_config_id == $objSec->id}selected{/if}>{$objSec->name}</option>
				{/foreach}
			</select>
		</td>
	</tr>
	<tr>
		<td>Auto-Thumb by Height</td>
		<td>
			<select name="autothumb_h" id="autothumb_h">
				{section name="countLimit" loop=1000 start=0}
				<option value="{$smarty.section.countLimit.index}" {if $smarty.section.countLimit.index == $objData->autothumb_h}selected{/if}>{$smarty.section.countLimit.index}</option>
				{/section}
			</select>
		</td>
	</tr>
	<tr>
		<td>Auto-Thumb by Width</td>
		<td>
			<select name="autothumb_w" id="autothumb_w">
				{section name="countLimit" loop=1000 start=0}
				<option value="{$smarty.section.countLimit.index}" {if $smarty.section.countLimit.index == $objData->autothumb_w}selected{/if}>{$smarty.section.countLimit.index}</option>
				{/section}
			</select>
		</td>
	</tr>
	<tr>
		<td>Status</td>
		<td>
			<input type="radio" name="status" id="status_1" value=1 {if $objData->status == 1 || !isset($objData->status)}checked{/if} /> Active<br />
			<input type="radio" name="status" id="status_0" value=0 {if $objData->status === 0}checked{/if} /> Inactive
		</td>
	</tr>
	<tr>
		<td colspan=2 align=right>
			<input type="submit" value="Send" />
		</td>
	</tr>
</table>
</form>

{include file="struct/footer.html"}