{include file="struct/header.html"}

<form name="formList" id="formList" method="post" action="{$smarty.const.HTTP_CMS}{$smarty.session.APPLR.URI_SEGMENT.2}/delete/">
<table border=1>
	<caption>APPLR SECTION CONFIG</caption>
	{include file="struct/menu-top.html"}
	<tr>
		<th>Name</th>
		<th>Parent Section</th>
		<th>URL from Root</th>
		<th>Table</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	{if count($objHierarchy) == 0}
	<tr>
		<td colspan=6 align="center">No records found!</td>
	</tr>
	{else}
	{APPLR_printSectionHierarchy spacer="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" tpl="struct/section-list-iteration.html"}
	<tr>
		<td colspan=6 align="right"><input type="submit" value="Delete" /></td>
	</tr>
	{/if}
</table>
</form>

{include file="struct/footer.html"}