{include file="struct/header.html"}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

{literal}
<script type="text/javascript">
var SecStruct = {};
SecStruct.sec_field = JSON.parse('{/literal}{json_encode($arrSec)}{literal}');

console.log(SecStruct.sec_field);

SecStruct.fillCombo = function() {
	var combo		= $($('#child_id')[0].selectedOptions[0].parentElement);
	var folder_id 	= combo.attr('folder');
	var child_id 	= $('#child_id').val();
	
	var fields		= SecStruct.sec_field[folder_id][child_id].fields;
	
	$('#field_rel option').remove();
	$.each(fields, function(index,obj) {
	    $('#field_rel').append(
	        $('<option></option>').val(obj.field_name).html(obj.name)
	    );
	});
}
</script>
{/literal}

<form name="formConfig" id="formConfig" method="post" action="{$smarty.const.HTTP_CMS}{$smarty.session.APPLR.URI_SEGMENT.2}/add">
<input type="hidden" name="sec_config_id" id="sec_config_id" value="{$intSecID}" />
<input type="hidden" name="id" id="id" value="{$objField->id}" />
<table border=1 width=700>
	<caption>APPLR SECTION STRUCT BUILDER</caption>
	{include file="struct/menu-top.html"}
	<tr>
		<th colspan=2>FIELD INFO</th>
	</tr>
	<tr>
		<td>Field label</td>
		<td>
			<input type="text" maxlength="80" value="{$objField->name}" size="40" name="name" id="name" />
		</td>
	</tr>
	<tr>
		<td>Field name</td>
		<td>
			<input type="text" maxlength="65" value="{$objField->field_name}" size="40" name="field_name" id="field_name" />
		</td>
	</tr>
	<tr>
		<td>Tool tip</td>
		<td>
			<input type="text" maxlength="255" value="{$objField->tooltip}" size="40" name="tooltip" id="tooltip" />
		</td>
	</tr>
	<tr>
		<td>Fill is mandatory?</td>
		<td>
			<input type="radio" name="mandatory" value=1 {if $objField->mandatory == 1}checked{/if} /> Yes<br />
			<input type="radio" name="mandatory" value=0 {if $objField->mandatory == 0}checked{/if} /> No
		</td>
	</tr>
	<tr>
		<td>Requires administrative privileges?</td>
		<td>
			<input type="radio" name="admin" value=1 {if $objField->admin == 1}checked{/if} /> Yes<br />
			<input type="radio" name="admin" value=0 {if $objField->admin == 0}checked{/if} /> No
		</td>
	</tr>
	<tr>
		<th colspan=2>FIELD STRUCT</th>
	</tr>
	<tr>
		<td>Field Category</td>
		<td>
			<input type="radio" name="field" value=1 {if empty($objField->field_rel)}checked{/if} /> Dynamic<br />
			<input type="radio" name="field" value=2 {if !empty($objField->field_rel)}checked{/if} /> Relationship
		</td>
	</tr>
	<tr>
		<td>Pre-defined Struct Fields</td>
		<td>
			<select name="sec_struct_id" id="sec_struct_id">
				<option value="">N/R</option>
				{foreach from=$arrStruct name="listStruct" item="arrTmp"}
					<option value="{$arrTmp->id}" {if $arrTmp->id == $objField->sec_struct_id}selected{/if}>{$arrTmp->name}</option>
				{/foreach}
			</select>
		</td>
	</tr>
	<tr>
		<td>Section</td>
		<td>
			<select name="child_id" id="child_id" size="5" onclick="SecStruct.fillCombo();">
				{foreach from=$arrFld name="listFolder" item="arrTmpFld"}
				<optgroup label="{$arrTmpFld->name}" folder="{$arrTmpFld->id}">
					{foreach from=$arrSec.{$arrTmpFld->id} name="listSec" item="arrTmpSec"}
					<option value="{$arrTmpSec->id}"  {if $arrTmpSec->id == $objField->child_id}selected{/if}>--| {$arrTmpSec->name}</option>
					{/foreach}
				</optgroup>
				{/foreach}
			</select>
		</td>
	</tr>
	<tr>
		<td>Refered Section's Field to Exhibit</td>
		<td>
			<select name="field_rel" id="field_rel" size="5">
			{*
				{foreach from=$arrSec.1.1->fields name="listStruct" item="arrTmp"}
					<option value="{$arrTmp->field_name}" {if $arrTmp->field_name == $objField->field_rel}selected{/if}>{$arrTmp->name}</option>
				{/foreach}
			*}
			</select>
		</td>
	</tr>
	<tr>
		<td>Relationship Type</td>
		<td>
			<input type="radio" name="fieldtype" value=2 {if $objField->fieldtype == 2}checked{/if} /> Check Box<br />
			<input type="radio" name="fieldtype" value=1 {if $objField->fieldtype == 1}checked{/if} /> Radio Button<br />
			<input type="radio" name="fieldtype" value=0 {if $objField->fieldtype == 0}checked{/if} /> Combo Box
		</td>
	</tr>
	<tr>
		<td colspan=2 align=right>
			<input type="button" value="Cancel" onclick="document.location.href = '{$smarty.const.HTTP_CMS}{$smarty.session.APPLR.URI_SEGMENT.2}/update/{$intSecID}';" />
			<input type="submit" value="Save" />
		</td>
	</tr>
</table>
</form>

<br /><br /><br />

<table border=1 width=700>
	<tr>
		<th>Label</th>
		<th>Name in Database</th>
		<th>Data Type</th>
		<th>Mandatory</th>
		<th>Administrative</th>
		<th>Up</th>
		<th>Down</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	{foreach from=$objData name="listFields" item="objTmp"}
	<tr>
		<td>{$objTmp->name}</td>
		<td>{$objTmp->field_name}</td>
		<td>{if !empty($objTmp->sec_struct_name)}{$objTmp->sec_struct_name}{else}Relationship with <b>{$objTmp->child_name}</b>{/if}</td>
		<td>{if $objTmp->mandatory}Yes{else}No{/if}</td>
		<td>{if $objTmp->admin}Yes{else}No{/if}</td>
		<td align="center">{if !$smarty.foreach.listFields.first}<a href="{$smarty.const.HTTP_CMS}{$smarty.session.APPLR.URI_SEGMENT.2}/order-up/{$intSecID}/{$objTmp->id}" title="">[ up ]</a>{/if}</td>
		<td align="center">{if !$smarty.foreach.listFields.last}<a href="{$smarty.const.HTTP_CMS}{$smarty.session.APPLR.URI_SEGMENT.2}/order-down/{$intSecID}/{$objTmp->id}" title="">[ down ]</a>{/if}</td>
		<td align="center"><a href="{$smarty.const.HTTP_CMS}{$smarty.session.APPLR.URI_SEGMENT.2}/edit/{$intSecID}/{$objTmp->id}" title="Edit">[ edit ]</a></td>
		<td align="center">{if $objTmp->field_name != 'name'}<a href="{$smarty.const.HTTP_CMS}{$smarty.session.APPLR.URI_SEGMENT.2}/delete/{$intSecID}/{$objTmp->id}" title="Delete">[ delete ]</a>{/if}</td>
	</tr>
	{/foreach}
	<tr>
		<td colspan=9 align=right>
			<input type="button" value="Finish" onclick="document.location.href = '{$smarty.const.HTTP_CMS}{$smarty.session.APPLR.URI_SEGMENT.2}';" />
		</td>
	</tr>
</table>

{include file="struct/footer.html"}