{include file="struct/header.html"}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="{$smarty.const.HTTP_TEMPLATE}scripts/core/jquery.DOMWindow.js"></script>

{literal}
<script type="text/javascript">

$(document).ready(function(){
	$('.upload-control-delete').click( function() {
		var content = $('input[type=hidden]',$(this).parent()).val();
		
		$('.upload-control-undo').attr('data-content',content);
		
		$('input[type=hidden]',$(this).parent()).val('');
		$('.upload-data img',$(this).parent()).hide(500);
	});
	$('.upload-control-undo').click( function() {
		var content = $('.upload-control-undo').attr('data-content');
		
		if(content != '') {
			$('input[type=hidden]',$(this).parent()).val(content);
			$('.upload-data img',$(this).parent()).show(500);
		}
	});

	setDateEmpty = function(strField) {
		if(document.getElementById(strField + '_Day'))		document.getElementById(strField + '_Day').selectedIndex	= 0;
		if(document.getElementById(strField + '_Month'))	document.getElementById(strField + '_Month').selectedIndex	= 0;
		if(document.getElementById(strField + '_Year'))		document.getElementById(strField + '_Year').selectedIndex	= 0;
		if(document.getElementById(strField + '_Hour'))		document.getElementById(strField + '_Hour').selectedIndex	= 0;
		if(document.getElementById(strField + '_Minute'))	document.getElementById(strField + '_Minute').selectedIndex	= 0;
		if(document.getElementById(strField + '_Second'))	document.getElementById(strField + '_Second').selectedIndex	= 0;
	}
	
	togglePwd = function(strField) {
		if(document.getElementById(strField)) {
			if(document.getElementById(strField + '_toggle').checked === true) {
				document.getElementById(strField).type = 'text';
			} else {
				document.getElementById(strField).type = 'password';
			}
		}
	}
});
</script>
{/literal}

<form name="formContent" id="formContent" method="post" action="{$smarty.const.HTTP_CMS}{$smarty.session.APPLR.URI_SEGMENT.2}/add/{$smarty.session.APPLR.URI_SEGMENT.4}" enctype="multipart/form-data">
<input type="hidden" name="sec_config_id" id="sec_config_id" value="{$objSection->id}" />
<input type="hidden" name="id" id="id" value="{$objData->id}" />
<input type="hidden" name="sys_language_id" id="sys_language_id" value="{if !empty($objData->sys_language_id)}{$objData->sys_language_id}{else}{$smarty.const.LANGUAGE}{/if}" />
<table border=1 width=700>
	<caption>APPLR SECTION CONTENT<h3>{$objSection->name}</h3></caption>
	{include file="struct/menu-top.html"}
	<tr>
		<td colspan=2 align="center" bgcolor="#EEE">
			CONTENT
		</td>
	</tr>
	{foreach from=$objStruct name="listStruct" item="objTmp"}
	<tr>
		<td>{$objTmp->name}</td>
		<td>
			{APPLR_FormField field=$objTmp value=$objData->{$objTmp->field_name}}
			{if !empty($evalAssign)}{eval var=$evalAssign}{/if}
		</td>
	</tr>
	{/foreach}
	{include file="struct/section-seo-info.html"}
	{include file="struct/section-publish-info.html"}
	<tr>
		<td colspan=2 align=right>
			<input type="submit" value="Save" />
		</td>
	</tr>
</table>
</form>

{include file="struct/footer.html"}