{include file="struct/header.html"}

<form name="formList" id="formList" method="post" action="{$smarty.const.HTTP_CMS}{$smarty.session.APPLR.URI_SEGMENT.2}/delete/">
<table border=1 width=650>
	<caption>{$objSection->name}</caption>
	{include file="struct/menu-top.html"}
	<tr>
		<th>Name</th>
		<th>Publish Date</th>
		<th>Preview</th>
		<th>Status</th>
		<th>Duplicate</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	{if count($objData) == 0}
	<tr>
		<td colspan=6 align="center">No records found!</td>
	</tr>
	{else}
	{foreach from=$objData name="listData" item="objTmp"}
	<tr>
		<td><a href="{$smarty.const.HTTP_CMS}{$smarty.session.APPLR.URI_SEGMENT.2}/update/{$smarty.const.SECTION_PERMALINK}/{$objTmp->id}">{$objTmp->name}</a></td>
		<td><a href="{$smarty.const.HTTP_CMS}{$smarty.session.APPLR.URI_SEGMENT.2}/update/{$smarty.const.SECTION_PERMALINK}/{$objTmp->id}">{$objTmp->date_publish|date_format:"%d/%m/%Y %H:%M:%S"}</a></td>
		<td align="center"><a href="{$smarty.const.HTTP}{$objSection->permalink}/{$objTmp->permalink}/?preview=1" target="_blank">[ preview ]</a></td>
		<td><a href="{$smarty.const.HTTP_CMS}{$smarty.session.APPLR.URI_SEGMENT.2}/update/{$smarty.const.SECTION_PERMALINK}/{$objTmp->id}">{$objTmp->active}</a></td>
		<td align="center"><a href="{$smarty.const.HTTP_CMS}{$smarty.session.APPLR.URI_SEGMENT.2}/duplicate/{$smarty.const.SECTION_PERMALINK}/{$objTmp->id}">[ duplicate ]</a></td>
		<td align="center"><a href="{$smarty.const.HTTP_CMS}{$smarty.session.APPLR.URI_SEGMENT.2}/update/{$smarty.const.SECTION_PERMALINK}/{$objTmp->id}">[ edit ]</a></td>
		<td align="center"><input type="checkbox" name="delete[]" id="delete_{$objTmp->id}" value="{$objTmp->id}" /></td>
	</tr>
	{/foreach}
	{/if}
</table>
</form>

{include file="struct/footer.html"}