:root {
    -webkit-var-hotspot_headerColor: #A0C655;
    -moz-var-hotspot_headerColor: #A0C655;
    -ms-var-hotspot_headerColor: #A0C655;
    -o-var-hotspot_headerColor: #A0C655;
    var-hotspot_headerColor: #A0C655;
  }