	{if empty($objData)}
		<div class="box">
			<h1>Nenhum conteúdo encontrado!</h1>
		</div>
	{else}
		{if $smarty.const.SEARCH != ''}
		<div class="box">
			<h1>Buscando por: "{if $smarty.const.SEARCH_BY != ''}{$smarty.const.SEARCH_BY}{else}{$smarty.const.SEARCH}{/if}"</h1>
			{count($objData)} {if count($objData) > 1}resultados encontrados{else}resultado encontrado{/if}.
		</div>
		{/if}
		
		{foreach from=$objData item="objTemp" name="contentList"}
		{if !$objTemp->hide_bool || $smarty.const.SEARCH != ''}
		<div class="box">
			{if $objTemp->private_bool}<div class="tag"></div>{/if}
			<h1><a href="{$objTemp->url_permalink}" title="{$objTemp->name}">{$objTemp->name}</a></h1>
			{if !empty($objTemp->content_date->original->Timestamp)}<h5>Postado em {$objTemp->content_date->formatted}</h5>{/if}
			{if !empty($objTemp->image_upload->uri)}<img src="{$objTemp->image_upload->uri}" alt="{$objTemp->name}" class="display" />{/if}
			<a href="{$objTemp->url_permalink}" title="Leia mais...">{$objTemp->content_richtext|APPLR_html_entity_decode|strip_tags|truncate:280:"...":true}</a>
			
			<div class="fb-like" data-href="{$objTemp->url_permalink}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
			<br class="clearfix" />
		</div>
		{/if}
		{/foreach}
	{/if}