{include file="struct/header.html"}

{include file="blog-header.html"}

<div class="content">
	<div class="list">
		<div class="box">
			<h1>Fale com o Edilson Rahal Tavares</h1>
			
			<div class="form" data-error1="Campo obrigatório!">
				<div class="label">Nome*</div><div class="input"><input type="text" name="name" id="name" /></div>
			</div>
			<div class="form" data-error1="Campo obrigatório!" data-error2="E-mail inválido!">
				<div class="label">E-mail*</div><div class="input"><input type="text" name="mail" id="mail" /></div>
			</div>
			<div class="form" data-error1="Campo obrigatório!">
				<div class="label">Assunto*</div><div class="input"><input type="text" name="subject" id="subject" /></div>
			</div>
			<div class="form" data-error1="Campo obrigatório!">
				<div class="label top">Mensagem*</div><div class="input"><textarea name="text" id="text"></textarea></div>
			</div>
			<div class="form">
				<div class="label small left">* Campos Obrigatórios</div><div class="button right">Enviar</div>
			</div>
			
			<br class="clearBoth" />
		</div>
	</div>
	
	{include file="blog-right-column.html"}
</div>

{include file="blog-footer.html"}

{include file="struct/footer.html"}