<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body bgcolor="#ffcc00">
Teste imagem permalink: <img src="#HTTP#campanhas/confirm/?md5=#md5#&display=1" width=1 height=1 /><br />
Teste imagem *.php: <img src="#HTTP#confirm-email-open.php?md5=#md5#&display=1" width=1 height=1 /><br />
Bem vindo!<br />
Esse é um teste de agendamento de e-mail. Ao visualizar essa mensagem, seu status deve ser atualizado no banco de dados e você estará apto a receber a próxima mensagem.<br /><br />
<a href="#HTTP#confirm-email-open.php?md5=#md5#&redirect-uri=#url#" title="Clique aqui">Clique aqui para visualizar o conteúdo!</a>