{include file="struct/header.html"}

{include file="blog-header.html"}

<div class="content">
	
	<div class="list">
		<h1>Descadastramento realizado com sucesso!</h1>
		
		<p>Nós somos contra o SPAM. Seu e-mail cadastrado não será utilizado para outros 
		fins, não será comercializado ou cedido a terceiros, sob nenhuma condição.</p> 
		
		<p>Você também não receberá mais nenhuma dica valiosa para aumentar a 
		produtividade de sua empesa através da TI, ou mesmo sua carreira.</p>
		
		<p>Perdoe-me algum eventual transtorno.</p>
	</div>
	
	{include file="blog-right-column.html"}
	
</div>

{include file="blog-footer.html"}

{include file="struct/footer.html"}