<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>#TITLE#</title>
</head>
<body style="background: #D6DBD6; text-align: center; font-family: Arial; padding: 50px; color: #5C5B5B;">

<div style="border: none; background: white; padding: 50px 50px 0px 50px; margin: 0 auto; width: 500px; text-align: left;">

	<div style="font-size: 30px;">
		Parabéns! Bem-vindo(a) a um seleto
		grupo de empresários, gestores de
		TI e estudantes comprometidos
		com a inovação e produtividade.
			</div>
			
			<div style="font-size: 18px;">
				<p>Você adquiriu o curso «Gestão de TI para Pequenas e Médias 
		Empresas», e agora está recebendo as informações de acesso
		ilimitado* ao curso.</p>
		
		<p>
		Usuário: <b>#username#</b>
		Senha: <b>#password#</b>
		</p>
		
		<p>Se tiver alguma dúvida ou dificuldade de acesso, entre em
		contato com o nosso suporte, através do e-mail:</p>
		
		<p><b>suporte.gtippme@ertavares.com.br</b></p>
		
		<p>Novamente, muito obrigado pelo seu interesse em meu trabalho
		e meus conhecimentos. Espero que você aplique as dicas e
		soluções das melhores práticas em TI no seu dia a dia, e se
		transforme, transformando também seu ambiente de trabalho.</p>
		
		<p>Nos vemos já, já, no curso!</p>
		
		<div>
			<div style="display: inline-block; vertical-align: top;">
				Um abraço,<br />
				<b>Edilson Rahal Tavares</b>
			</div>
			<img src="#HTTP_TEMPLATE#content/image/e-mails/edilson.jpg" style="display: inline-block; width: 90px; margin-top: -15px; vertical-align: bottom;" />
		</div>
	</div>
	
</div>
<div style="border: none; background: #293B65; color: white; font-size: 10px; padding: 20px; margin: 0 auto; width: 560px; text-align: left;">
	*O acesso ao curso é ilimitado, ou seja, você poderá fazê-lo de qualquer equipamento, máquina ou gadget ligado
	à internet. O seu «usuário» ficará disponível durante o período de 6 (seis) meses, quando expira, finalizando o
	período de disponibilidade. Conheça nossos <a href="#HTTP#blog/termos-de-uso" title="Termos de Uso" style="color: white; text-decoration: underline;">Termos de Uso</a> e <a href="#HTTP#blog/politica-de-privacidade" title="Política de Privacidade" style="color: white; text-decoration: underline;">Política de Privacidade</a>.
</div>
</body>
</html>