<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>#TITLE#</title>
</head>
<body style="background: #D6DBD6; text-align: center; font-family: Arial; padding: 50px; color: #5C5B5B;">

<div style="border: none; background: white; padding: 50px 50px 0px 50px; margin: 0 auto; width: 500px; text-align: left;">

	<div style="font-size: 30px;">
		#subject#
	</div>
	
	<div style="font-size: 18px;">
		#content_richtext#
		
		<!-- #HTTP#campanhas/confirm/?md5=#md5#&redirect-uri=#url# -->
		<div>
			<div style="display: inline-block; vertical-align: top;">
				Um abraço,<br />
				<b>Edilson Rahal Tavares</b>
			</div>
			<img src="#HTTP#campanhas/confirm/?md5=#md5#&display=1" style="display: inline-block; width: 90px; margin-top: -15px; vertical-align: bottom;" />
		</div>
	</div>
	
</div>
<div style="border: none; background: #293B65; color: white; font-size: 10px; padding: 20px; margin: 0 auto; width: 560px; text-align: left;">
	Nós somos contra o SPAM. Seu e-mail cadastrado não será utilizado para outros fins, não será comercializado ou 
	cedido a terceiros, sob nenhuma condição. Se você se cadastrou por engano ou deseja se descadastrar, clique aqui 
	e tiraremos seu email de nossa lista exclusiva. Você não receberá mais nenhuma dica valiosa para aumentar a 
	produtividade de sua empesa através da TI. Perdoe-me algum eventual transtorno.<br /><br />
	Caso não deseje receber mais mensagens, <a href="#HTTP#email/unsubscribe/#md5#" title="Clique Aqui Para Descadastrar" style="font-weight: bold; color: white; text-decoration: underline;">clique aqui</a> para descadrastrar seu e-mail da lista de envios.
</div>
</body>
</html>