{include file="struct/header.html"}

	<div class="box right">
		<div class="header"><img src="{$smarty.const.IMAGE}destino/logo.png" /></div>
		
		<div class="body">
			<div class="title">
				{$objData->title|APPLR_html_entity_decode|nl2br}
			</div>
			
			<div class="subtitle">
				{$objData->subtitle|APPLR_html_entity_decode|nl2br}
			</div>
			
			{if $confirmLead}
			<div class="msg green show">
			Você já faz parte do nosso banco de dados. Porém, é preciso confirmar o seu e-mail.<br /><br />
			<div class="button inline" hotspot-id="{$objData->id}" name="{$smarty.cookies.APPLR_confirmLead}">CLIQUE AQUI</div> para reenviar o link de confirmação para <u>{$smarty.cookies.APPLR_confirmLead}</u>.
			</div>
			<div class="msg hide"></div>
			{else}
			<div class="form" hotspot-id="{$objData->id}" {*redirect-uri="{$smarty.const.SECTION_SEGMENT}/{$smarty.const.PERMALINK}"*}>
				{$objData->label} <input type="text" name="name" id="name" size=40 />
				
				<div class="button {$objData->button_color}">{$objData->button} {if $objData->button_icon_bool}<div class="icon"></div>{/if}</div>
			</div>
			
			<div class="msg hide"></div>

			<div class="note">{$objData->note}</div>
			{/if}
			
		</div>
		
		<div class="footer">{$objData->spam}</div>
	</div>

{include file="struct/footer.html"}