	<tr>
		<td colspan=2 align="center" bgcolor="#EEE">
			PUBLISH INFO
		</td>
	</tr>
	<tr>
		<td>Date Publish</td>
		<td>{html_select_date prefix="date_publish_" time=$objData->date_publish->original->Timestamp start_year="-5" end_year="+5" day_value_format="%02d" month_value_format="%m" field_order="DMY" year_empty="YEAR" month_empty="MONTH" day_empty="DAY"}</td>
	</tr>
	<tr>
		<td>Time Publish</td>
		<td>{html_select_time prefix="time_publish_" time=$objData->date_publish->original->Timestamp field_order="HMS" hour_empty="HOUR" minute_empty="MIN" second_empty="SEC"}</td>
	</tr>
	<tr>
		<td>Date Expire</td>
		<td>{html_select_date prefix="date_expire_" time=$objData->date_expire->original->Timestamp start_year="-5" end_year="+5" day_value_format="%02d" month_value_format="%m" field_order="DMY" year_empty="YEAR" month_empty="MONTH" day_empty="DAY"}</td>
	</tr>
	<tr>
		<td>Time Expire</td>
		<td>{html_select_time prefix="time_expire_" time=$objData->time_expire->original->Timestamp field_order="HMS" hour_empty="HOUR" minute_empty="MIN" second_empty="SEC"}</td>
	</tr>
	<tr>
		<td>Active</td>
		<td>
			<input type="radio" value="1" name="active" id="active_1" {if !isset($objData->active) || $objData->active == 1}checked{/if}> Yes<br>
			<input type="radio" value="0" name="active" id="active_0" {if $objData->active === 0 || $objData->active === '0'}checked{/if}> No
		</td>
	</tr>